:root{
    touch-action: pan-x pan-y;
    height: 100% 
}
html{
    touch-action: pan-x pan-y;
    height: 100% 
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  font-size: 16px;
}
