@media only screen and (max-width: 768px) {
  body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
  }

  .bar {
    position: absolute;
    width: 100%;
    display: flex;
    height: 52px;
    left: 0;
    align-items: center;
    top: 0;
    background: #3c3a39;
  }

  .box {
    justify-content: baseline;
    color: white;
    width: 100%;
  }

  .logo {
    padding-left: 15px;
    color: white;
  }

  #logo-link {
    color: white;
  }

  nav {
    margin-right: 10px;
  }

  .menu-icon {
    text-align: right;
    padding-right: 0;
    font-size: 25px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 14px;
    gap: 12px;
    position: absolute;
    width: auto;
    height: 590px;
    left: 0;
    top: 52px;
    background: #1c1a19;
    background-image: url(figma.png);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 80%;
  }

  .intro .main-text {
    width: auto;
    height: 90px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .supporting-text {
    width: auto;
    margin: 20px 0 0;
    height: 27px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .description {
    width: auto;
    margin: 0;
    height: 173px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .address {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 200px;
    height: 40px;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .normal-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .normal-button:hover {
    background-color: orangered;
    color: #fff;
  }

  .icon-link {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    text-align: center;
    flex-grow: 0;
    font-size: 25px;
    color: white;
  }
}

@media only screen and (min-width: 768px) {
  body {
    display: none;
  }
}
