:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

html {
  touch-action: pan-x pan-y;
  height: 100%;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  font-size: 16px;
}

body {
  margin: 0;
  background-image: url('../images/er.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.683);
}

header {
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
  position: sticky;
  width: 100%;
  top: 0%;
  z-index: 30;
  background-color: white;
  box-shadow: 2px 2px 4px rgb(111, 111, 111);
}

header nav {
  display: flex;
  width: 100%;
  flex-direction: row;
}

header nav .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav .logo h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(3, 21, 13);
  font-size: 25px;
  margin-left: 5px;
  padding-left: -8px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

header nav .links-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}

header nav .links-wrapper .links {
  position: absolute;
  top: 0;
  left: -85%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(74, 74, 74);
  width: 85%;
}

header nav .links-wrapper .links ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

header nav .links-wrapper .links ul li {
  display: flex;
  padding-left: 6%;
  margin-top: 3%;
  flex-direction: row;
  align-items: center;
}

header nav .links-wrapper .links ul li i {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 180px;
  color: white;
  font-size: 20px;
  height: 23px;
  width: 27px;
  padding: 2%;
}

header nav .links-wrapper .links ul li a {
  font-size: 17px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  margin-left: 3%;
  font-family: "Poppins", sans-serif;
  padding-bottom: 15px;
  padding-top: 10px;
  border-bottom: 3px solid grey;
}

header nav .links-wrapper .menu {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

header nav .links-wrapper .menu button {
  font-size: 30px;
  border: none;
  margin-right: 5px;
  background-color: transparent;
}

header nav .links-wrapper .menu button i {
  color:black;
}

/* side navs cc */

.slide-in {
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 30;
  left: 100%;
  top: 0%;
  height: 100vh;
}

.slide-in .content {
  display: none;
  flex-direction: column;
  background-color: white;
  height: 96vh;
  padding: 2%;
  border-bottom: 4px solid rgb(41, 40, 39);
  font-family: 'Poppins', sans-serif;
  overflow: auto;
}

.slide-in .content h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  width: 80%;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgb(184, 0, 184), #3498db);
  color: white;
  text-transform: capitalize;
}

.slide-in .content p {
  text-align: center;
}

.slide-in .content p span {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.slide-in .content .press {
  width: 90%;
  background-color: #3498db;
  padding: 2% 4%;
}

.slide-in .content a {
  color: white;
  width: 100%;
  padding: 1% 4%;
  border-radius: 16px;
  text-transform: capitalize;
}

.slide-in .content .in-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.slide-in .content .in-content .side-in-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-in .content .in-content .side-in-c h3 {
  width: 100%;
  margin: 0;
  text-align: center;
}

.slide-in .content .in-content .side-in-c img {
  width: 50%;
}

.slide-in .content .in-content .side-in-c p {
  width: 100%;
  text-align: center;
}

.slide-in .content .in-content .side-in-c p span {
  font-weight: bold;
  color: black;
}

.slide-in button {
  width: 20%;
  margin-top: 0%;
  text-align: left;
  font-size: 20px;
  padding-left: 25px;
  background: #f3f3f3;
  border: none;
  font-weight: bold;
  border-right: 2px solid rgb(35, 35, 35);
}

.close-slide-in i.fa-angle-right {
  animation: rockingAnimation 2s infinite; /* Adjust the animation duration as needed */
}

@keyframes rockingAnimation {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px); /* Adjust the value as needed */
  }
}

/* end side slid css
/* intro section css */
.intro-section {
  display: flex;
  height: auto;
  padding: 2%;
  background-color:white;
  margin-top: 0%;
  background-image: url('../images/Vec.png');
  background-size: 15%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0%;
  padding-top: 5%;
  flex-direction: row;
}

.intro-section .icons {
  display: flex;
  padding: 2%;
  border-radius: 16px;
  border: 1px solid rgb(56, 56, 56);
  flex-direction: column;
}

.intro-section .icons a {
  color: black;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.intro-section .icons .active-web{
  color:#396DF2;
  animation: rotateInfinite 6s linear infinite;
}
@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.intro-section .intro-content {
  display: flex;
  flex-direction: column;
  padding: 2%;
  padding-left: 8%;
  padding-top: 4%;
  font-family: 'Poppins', sans-serif;
}

.intro-section .intro-content h1 {
  margin: 0;
  color: rgb(47, 47, 47);
  font-weight: 900;
  padding-top: 15%;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  letter-spacing: 4px;
}

.intro-section .intro-content h3 {
  font-size: 7px;
  letter-spacing: 2px;
  color: #656565;
  margin: 0;
  margin-top: 5px;
  text-transform: uppercase;
}

.intro-section .intro-content p {
  margin: 0;
  text-transform: capitalize;
  text-align: left;
  color: rgb(69, 69, 69);
  font-size: 13px;
  letter-spacing: 2px;
  padding: 1% 5%;
  border-left: 5px solid rgb(135, 135, 135);
  border-bottom-right-radius: 160px;
}

.intro-section .intro-content .tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.intro-section .intro-content .tech-stack a {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: row;
  padding: 0.2% 2%;
  margin-right: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.intro-section .intro-content .tech-stack a img {
  width: 10px;
}

.intro-section .intro-content .tech-stack a span {
  color: rgb(96, 96, 96);
  text-transform: capitalize;
  margin-left: 2px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.intro-section .intro-content .c-u {
  color: rgb(255, 255, 255);
  padding: 1% 0%;
  border: 0;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 60%;
  text-transform: capitalize;
}

.intro-section .intro-content .c-u span {
  background-color:#396DF2;
  padding: 0.3% 15%;
  border-radius: 6px;
}

/* what we doo css */
.act {
  background: linear-gradient(to bottom, #f3f3f3, white, white, white);
}

.w-d-w {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.w-d-w div {
  width: 100%;
}

.mid-section .w-d-p {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #373737;
  padding: 1%;
}

.w-w-d {
  width: 100%;
}

.w-w-d img {
  width: 100%;
}

/* tiles css */
.tiles-section {
  display: none;
  flex-direction: column;
  background-color: white;
  margin-top: -1px;
}

.tiles-section .tiles-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tiles-section .tiles-wrapper a {
  width: 160px;
  margin: 1%;
  background-color: #fff;
  height: auto;
  padding: 1%;
  border: 2px solid rgb(236, 236, 236);
}

.tiles-section .tiles-wrapper a div {
  background-color: rgb(240, 240, 240);
  text-align: center;
}

/* portfolio projects css */

.testimonialz {
  text-align: center;
  overflow: hidden;
  background-color: white;
  margin-top: -1px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.testimonialz h3 {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-align: center;
  padding: 2%;
  margin: 0;
  color: #484848;
  font-size: 25px;
}

.slidert {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  transition: transform 0.5s ease;
}
  /* Hide the scrollbar for webkit-based browsers */
  .slidert::-webkit-scrollbar {
    display: none;
  }


.testimoniala {
  flex: 0 0 84.5%; /* Each testimonial takes the full width of the slider initially */
  padding: 20px;
  margin: 2%;
  background-color: #f4f4f4;
  font-size: 18px;
  border-radius: 0;
  border: 1px solid rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
}

.testimoniala img {
  width: 100%;
  height: auto;
}

.testimoniala p {
  margin: 0;
  border-top: 1px solid grey;
  padding-top: 1%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.slider-buttonz {
  margin: 0;
  margin-top: 10px;
  padding-bottom: 5%;
}

.slider-buttonz button {
  margin: 0 10px;
  border: 1px solid grey;
  box-shadow: 2px 2px 4px rgb(235, 235, 235);
  background-color: #fff;
  font-size: 20px;
  width: 40px;
}

/* servicess css */
.mid-section {
  display: flex;
  background-color: #fff;
  padding: 1%;
  margin-top: -1px;
  flex-direction: column;
}

.thru {
  background-color: transparent;
}

.serv {
  background: linear-gradient(to right, rgb(184, 0, 184), #3498db);
  color: white;
  border-top-right-radius: 160px;
  border-bottom-left-radius: 160px;
}

.mid-section h4 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
}

.mid-section .mid-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.mid-section .mid-head h2 {
  color: #f4f4f4;
  text-transform: capitalize;
  margin: 0;
  font-size: 23px;
  font-family: sans-serif;
}

.mid-section .mid-head h3 {
  margin: 0;
  height: 3px;
  background-color: #f4f4f4;
  width: 50%;
}

.mid-section .mid-section-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 5%;
}

.mid-section .mid-section-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.mid-section .mid-section-wrapper div h3 {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-size: 25px;
  color: #323232;
  text-align: center;
}

.mid-section .mid-section-wrapper div img {
  height: auto;
  width: 50%;
}

.mid-section .mid-section-wrapper div p {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 15px;
}

.mid-section .mid-section-wrapper div a {
  color: black;
  font-size: 16px;
  border: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 16px;
  padding: 1% 5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* get a quote css */
.quote-section {
  padding: 2%;
}

.quote-section .quote-wrapper {
  background-color: rgb(255, 255, 255);
  padding-top: 1%;
}

.quote-section .quote-wrapper h1 {
  text-align: center;
  font-size: 19px;
  text-transform: capitalize;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.quote-section .quote-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%;
}

.quote-section .quote-wrapper form select {
  width: 85%;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border-radius: 0;
  padding: 1% 0%;
}

.quote-section .quote-wrapper form button {
  width: 40%;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  padding: 1% 0%;
  font-size: 16px;
  margin-top: 3%;
  border: none;
  background-color: rgb(183, 4, 4);
  color: #fff;
}

#loading {
  display: none;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

.quote-section .quote-wrapper .ranges {
  display: flex;
  flex-direction: row;
  margin: 2%;
  align-items: center;
}

.quote-section .quote-wrapper .ranges p {
  font-family: 'Poppins', sans-serif;
}

.quote-section .quote-wrapper .ranges .p-d {
  text-transform: uppercase;
  margin-right: 8px;
  font-weight: bold;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#quoteResult {
  font-size: 18px;
}

.small {
  font-size: 10px;
  text-transform: capitalize;
}

/* form css */
.contact {
  display: flex;
  flex-direction: column;
  padding: 2%;
  padding-bottom: 6%;
  background-color: #fff;
}

.contact .contact-text {
  display: flex;
  flex-direction: column;
}

.contact .contact-text p {
  color: #333;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
}

.contact .edge {
  display: flex;
  flex-direction: column;
}

.contact .edge form {
  display: flex;
  flex-direction: column;
}

.contact .edge form input {
  margin-top: 4%;
  border: none;
  border-left: 4px solid rgb(181, 4, 4);
  padding: 2%;
  outline: none;
  border-radius: 0;
  background: #ededed;
  width: 80%;
  font-size: 16px;
}

.contact .edge form textarea {
  text-transform: capitalize;
  margin-top: 4%;
  padding: 2%;
  background-color: #f7f7f7;
  border-radius: 0;
  outline: none;
  resize: none;
  border: none;
  border-left: 2px solid rgb(181, 4, 4);
  font-size: 16px;
}

.contact .edge form button {
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  background-color: rgb(181, 4, 4);
  color: #fff;
  border: none;
  text-transform: capitalize;
  font-size: 18px;
  padding: 2% 0%;
}

/* testimonials bottom css */
.testimonials {
  text-align: center;
  overflow: hidden;
  background-color: white;
  margin-top: -1px;
  padding-top: 5%;
}

.testimonials .rev {
  text-align: left;
  padding: 1% 4%;
  font-size: 25px;
  width: 26%;
  border-right: 4px solid rgb(36, 36, 36);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.slider {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.testimonial {
  flex: 0 0 89%; /* Each testimonial takes the full width of the slider initially */
  padding: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.testimonial h3 {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.testimonial p {
  margin: 0;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

.hidden {
  display: none;
}

.slider-buttons {
  margin: 0;
  margin-top: -10px;
  padding-bottom: 5%;
}

.slider-buttons button {
  margin: 0 10px;
  border: none;
  box-shadow: 2px 2px 4px rgb(28, 28, 28);
  font-size: 20px;
  width: 40px;
}

#addTestimonialBtn {
  border: 1px solid black;
  background-color: white;
  padding: 1% 4%;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #323232;
  margin-bottom: 5%;
}

.testimonialForm form {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.testimonialForm form input {
  margin-top: 4%;
  border: none;
  border-left: 4px solid  rgb(63, 2, 2);
  padding: 2%;
  outline: none;
  border-radius: 0;
  background: #ededed;
  width: 80%;
  font-size: 16px;
}

.testimonialForm form textarea {
  text-transform: capitalize;
  margin-top: 4%;
  padding: 2%;
  background-color: #f7f7f7;
  border-radius: 0;
  outline: none;
  resize: none;
  border: none;
  border-left: 2px solid  rgb(63, 2, 2);
  font-size: 16px;
}

.testimonialForm form button {
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  background-color: white;
  color: rgb(95, 3, 3);
  border: 2px solid  rgb(95, 3, 3);
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 1% 0%;
}

/* footer css */
footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(47, 47, 47);
}

footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

footer ul li {
  color: white;
}

footer ul li a {
  color: #fff;
}
@media screen and (min-width: 800px) {
  .max-links{
    display:none;
  }
  .mid-section .mid-section-wrapper div {
    width: 47%;
    margin: 1%;border: 2px solid #f3f3f3;
  }
  .mid-section .mid-section-wrapper div p{
    padding: 2%;
    font-size: 18px;
  } 

  header {
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
    position: sticky;
    width: 100%;
    top: 0%;
    z-index: 30;
    background-color: white;
    box-shadow: 2px 2px 4px rgb(111, 111, 111);
  }
  
  /* intro section css */
.intro-section {
  background-size: 10%;
  padding-top: 1%;
}

.intro-section .icons {
  display: flex;
  padding: 1%;
  border-radius: 16px;
  border: 1px solid rgb(56, 56, 56);
  flex-direction: column;
}

.intro-section .icons a {
  color: black;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  transition: transform 0.3s ease;

}
.intro-section .icons a:hover{
  color: red;
  transform: scale(1.5);

}

.intro-section .intro-content {
  padding-top: 1%;
}
.intro-section .intro-content h1 {
  padding-top: 10%;
  font-family:arial;
  font-size: 55px;
  letter-spacing: 10px;
}

.intro-section .intro-content h3 {
  font-size: 10px;
}

.intro-section .intro-content p {
  font-size: 19px;
  letter-spacing: 5px;
  padding: 1% 2%;
}

.intro-section .intro-content .tech-stack a img {
  width: 16px;
}

.intro-section .intro-content .tech-stack a span {
  font-size: 12px;
}
.intro-section .intro-content .c-u {
  color: rgb(255, 255, 255);
  padding: 1% 0%;
  border: 0;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 60%;
  text-transform: capitalize;
}

.intro-section .intro-content .c-u span {
  padding: 1% 22%;
  border-radius: 6px;
}
.intro-section .intro-content .c-u:hover{
  transition: transform 0.3s ease;
 transform: scale(1.1);
}

.act {
  background: linear-gradient(to bottom, #f3f3f3, white, white, white);
/*display: flex;
flex-direction: row;*/
}

.w-d-w {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color:white; #3498db;
  justify-content: space-around;
  align-items: center;
}

.w-d-w div {
  width: 50%;
}

.mid-section .w-d-p {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #181717;
  padding: 1%;
  font-size: 16px;
}

.w-d-w-c h4{
  font-size: 35px;
  color: rgb(62, 61, 61);
}

.w-w-d img {
  width: 89%;
  padding: 1%;
  float: right;
  border: 2px solid rgb(190, 189, 189);
}



  


/* portfolio projects css */

.testimonialz {
  text-align: center;
  overflow: hidden;
  background-color: white;
  margin-top: -1px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.testimonialz h3 {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-align: center;
  padding: 2%;
  margin: 0;
  color: #484848;
  font-size: 25px;
}

.slidert {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.testimoniala {
  flex: 0 0 40.5%; /* Each testimonial takes the full width of the slider initially */
  padding: 20px;
  margin: 2%;
  background-color: #f4f4f4;
  font-size: 18px;
  border-radius: 0;
  border: 1px solid rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
}

.testimoniala img {
  width: 100%;
  height: auto;
}

.testimoniala p {
  margin: 0;
  border-top: 1px solid grey;
  padding-top: 1%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.slider-buttonz {
  margin: 0;
  margin-top: 10px;
  padding-bottom: 5%;
}

.slider-buttonz button {
  margin: 0 10px;
  border: 1px solid grey;
  box-shadow: 2px 2px 4px rgb(235, 235, 235);
  background-color: #fff;
  font-size: 20px;
  width: 40px;
}


  
    /* form css */
.contact .edge form input {
  margin-top: 0.5%;
  padding: 1%;
  width: 80%;
}
.contact .edge form textarea {
  margin-top: 1%;
  padding: 0.3%;
}

.contact .edge form button {
  width: 30%;
  margin-top: 2%;
  padding: 1% 0%;

}
}

@media screen and (min-width: 1000px) {
  .max-links{
    display:block;
  }
  header nav .links-wrapper .menu {
    display: none;
  }
  header {
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
    position: sticky;
    width: 100%;
    top: 0%;
    z-index: 30;
    background-color: white;
    box-shadow: 2px 2px 4px rgb(111, 111, 111);
  }
  
  /* intro section css */
.intro-section {
  background-size: 10%;
  padding-top: 1%;
}

.intro-section .icons {
  display: flex;
  padding: 1%;
  border-radius: 16px;
  border: 1px solid rgb(56, 56, 56);
  flex-direction: column;
}

.intro-section .icons a {
  color: black;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  transition: transform 0.3s ease;

}
.intro-section .icons a:hover{
  color: red;
  transform: scale(1.5);

}

.intro-section .intro-content {
  padding-top: 1%;
}
.intro-section .intro-content h1 {
  padding-top: 10%;
  font-family:arial;
  font-size: 55px;
  letter-spacing: 10px;
}

.intro-section .intro-content h3 {
  font-size: 10px;
}

.intro-section .intro-content p {
  font-size: 19px;
  letter-spacing: 5px;
  padding: 1% 2%;
}

.intro-section .intro-content .tech-stack a img {
  width: 16px;
}

.intro-section .intro-content .tech-stack a span {
  font-size: 12px;
}
.intro-section .intro-content .c-u {
  color: rgb(255, 255, 255);
  padding: 1% 0%;
  border: 0;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 60%;
  text-transform: capitalize;
}

.intro-section .intro-content .c-u span {
  padding: 1% 22%;
  border-radius: 1px;
}
.intro-section .intro-content .c-u:hover{
  transition: transform 0.3s ease;
 transform: scale(1.1);
}

.act {
  background: linear-gradient(to bottom, #f3f3f3, white, white, white);
/*display: flex;
flex-direction: row;*/
}

.w-d-w {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color:white;
  justify-content: space-around;
  align-items: center;
}

.w-d-w div {
  width: 50%;
}

.mid-section .w-d-p {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #313030;
  padding: 1%;
  font-size: 20px;
}

.w-d-w-c h4{
  font-size: 35px;
  color: rgb(59, 58, 58);
}

.w-w-d img {
  width: 70%;
  padding: 1%;
  float: right;
  border: 2px solid rgb(190, 189, 189);
}


.mid-section .mid-section-wrapper div {
  width:30.333333%;
  padding-bottom: 1%;
  margin: 1%;border: 2px solid #f3f3f3;
}
.mid-section .mid-section-wrapper div p{
  padding: 2%;
  font-size: 18px;
} 
  


/* portfolio projects css */

.testimonialz {
  text-align: center;
  overflow: hidden;
  background-color: white;
  margin-top: -1px;
  padding-top: 0%;
  padding-bottom: 0%;
}

.testimonialz h3 {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-align: center;
  padding: 0%;
  margin: 0;
  color: #484848;
  font-size: 25px;
}

.slidert {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.testimoniala {
  fle:30.5%; /* Each testimonial takes the full width of the slider initially */
  padding: 20px;
  margin: 2%;
  background-color: #f4f4f4;
  font-size: 18px;
  border-radius: 0;
  border: 1px solid rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
}

.testimoniala img {
  width: 100%;
  height: auto;
}

.testimoniala p {
  margin: 0;
  border-top: 1px solid grey;
  padding-top: 1%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.slider-buttonz {
  margin: 0;
  margin-top: 10px;
  padding-bottom: 5%;
}

.slider-buttonz button {
  margin: 0 10px;
  border: 1px solid grey;
  box-shadow: 2px 2px 4px rgb(235, 235, 235);
  background-color: #fff;
  font-size: 20px;
  width: 40px;
}

  /* form css */
.contact .edge form input {
  margin-top: 0.5%;
  padding: 1%;
  width: 80%;
}
.contact .edge form textarea {
  margin-top: 1%;
  padding: 0.3%;
}

.contact .edge form button {
  width: 30%;
  margin-top: 2%;
  padding: 1% 0%;

}
}